.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
}

.burger span {
  width: 25px;
  height: 3px;
  background: var(--color-text);
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 80px;
    right: 0;
    background: var(--color-white);
    width: 100%;
    display: none;
  }

  .nav.nav-open {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    padding: var(--spacing-md);
  }

  .burger {
    display: flex;
  }
}
