version: "3.8"

services:
  web:
    build: ./docker/php
    container_name: ucf_web
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: ucf_db
    restart: always
    environment:
      MYSQL_DATABASE: ucf
      MYSQL_USER: ucf_user
      MYSQL_PASSWORD: ucf_pass
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
